@model K22CNTT3_LeTranKhanhDuy_2210900020.Models.BaiViet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LtkdLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BaiViet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.TenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.TenDangNhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaBaiViet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
